<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="org.example.testComponents.Listeners"></listener>
    </listeners>

    <test thread-count="5" name="RegistrationValidationTest">
        <classes>
            <class name="org.example.tests.RegistrationValidationTest2"></class>
        </classes>
    </test>

    <test thread-count="5" name="RegistrationErrorValidationTest">
        <classes>
            <class name="org.example.tests.RegistrationErrorValidationTest"></class>
        </classes>
    </test>

    <test thread-count="5" name="loginValidationTest">
        <classes>
            <class name="org.example.tests.LoginValidationTest"></class>
        </classes>
    </test>

</suite> <!-- Suite -->
