<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.example.testComponents.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/jamun/DsAlgo/src/test/java/org/example/tests/LoginValidationTest.java">
        <classes>
            <class name="org.example.tests.LoginValidationTest">
                <methods>
                    <include name="positiveLoginValidationTest"/>
                    <include name="negativeLoginValidationTest"/>
                    <include name="validatingClickOnLinkedList"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true"
          name="C:/Users/jamun/DsAlgo/src/test/java/org/example/tests/TreeValidationTest.java">
        <classes>
            <class name="org.example.tests.TreeValidationTest">
                <methods>
                    <include name="validatingClickOnTreeStructure"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
